<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p>
                We have generated a new random password for you and it has been sent to <em>@ViewBag.EmailAddress</em>
            </p>
        </div>
    </div>
</div>