@using CaptchaMvc.HtmlHelpers
@model CelloStore.ViewModels.ForgetPasswordViewModel

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frm", name = "frm" }))
{
    @Html.ValidationSummary()
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header"><h4><i class="fa fa-unlock"></i> Forget Password</h4></div>
            </div>
        </div>
        <table class="checkout-form">
            <tr>
                <td class="checkout-fieldheader">Email: </td>
                <td>
                    @Html.Kendo().TextBoxFor(m => m.Email).HtmlAttributes(new { type = "email", style = "width:300px;" })<br />
                @Html.ValidationMessageFor(m => m.Email)
            </td>
        </tr>

        <tr>
            <td class="checkout-fieldheader"></td>
            <td>
                @{
                 var captcha = Html.Captcha("Refresh", "Input", 5, "Is required field.", false);
                     @captcha
                    @Html.ValidationMessage(captcha.BuildInfo.InputElementId)
                }
            </td>
        </tr>

        <tr>
            <td></td>
            <td>
                <button type="submit" id="btnSubmit" name="btnSubmit" class="k-button">Submit</button>
            </td>
        </tr>
    </table>
</div>
}


<script>
    $(function () {
        $("#frm").kendoValidator();
    });

    $("#btnSubmit").click(function (e) {
        e.preventDefault();

        var validator = $("#frm").data("kendoValidator");
        if (validator.validate()) {
            $("#frm").submit();
        }


    });
</script>