@model dynamic

@{
    ViewBag.Title = "title";
}

<div class="container">
    <div class="text-center">
        <h1></h1>
    </div>
    
    <div class="text-center">
        <img src="@Url.Content("~/Images/BelanjaBunga.jpg")"/>
    </div>
</div>
