<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h4>Invalid Checkout Process</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <div class="well text-center">
                <i class="fa fa-exclamation-circle fa-5x"></i>
            </div>
        </div>
        <div class="col-md-8">
            <div class="well ui-state-error ">
                An error has occured in checkout process. Please resubmit your shopping cart.<br />
                If you still have any difficulties regarding checkout process, please contact us.<br /><br />
                Sorry for this inconvenient.
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
</div>
