<br />
<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h3><i class="fa fa-check-circle"></i> Change Password Success</h3>
        </div>
    </div>
    <br />
    <br />
    <br />
    <div class="row">
        <div class="col-md-12 text-center">
            @Html.ActionLink("Continue to My Account", "Index", "Account", null, new { @class="btn btn-primary"})
        </div>
    </div>
</div>