<div class="container">
    <div class="row">
        <div class="page-header">
            <h3>Registration Success</h3>
        </div>
    </div>
    <p>
        Please check your inbox at @ViewBag.Email for account verification.
    </p>
</div>