@model CelloStore.ViewModels.Sales.Order.IndexViewModel

<div class="container">
    <div class="page-header">
        <h4>Orders</h4>
    </div>

    <div class="container-form">
        @using (Html.BeginForm())
        {
            @(Html.Kendo().Grid(Model.List).Name("Grid").EnableCustomBinding(true).Columns(
                  col =>
                  {
                      col.Bound(m => m.OrderNo);
                      col.Bound(m => m.OrderDate).Format("{0:ddd, dd-MMM-yyyy}");
                      col.Bound(m => m.PersonName);
                      col.Bound(m => m.PhoneNumber);
                      col.Bound(m => m.OrderStatus);
                      col.Bound(m => m.DeliveryDate).Format("{0:ddd, dd-MMM-yyyy}");
                      col.Bound(m => m.DeliveryTime);                      
                      col.Template(@<text></text>).ClientTemplate(String.Format("<a class='k-button' href='{0}/#=Id#'><i class='fa fa-edit'></i> Edit</a>", Url.Action("Edit"))).Width(100);
                  })
                  .Pageable()
                  .Filterable()                  
                  .DataSource(ds => ds.Ajax().Read("List", "Order", new{area="Sales"}))
                  .PrefixUrlParameters(false)

                  .Sortable(s => s.SortMode(GridSortMode.SingleColumn))
                  )
        }
        </div>
    </div>