<ul class="nav navbar-nav navbar-right">
    <!-- right navigation -->
    <li>
       @Html.Partial("_SearchBox")
    </li>
    <li>
        @Html.Action("Cart", "Home")
    </li>

    
    @Html.Action("AccountInfo", "Home")
    
</ul>