@model CelloStore.ViewModels.Administration.System.ChangePasswordViewModel

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header"><h4><i class="fa fa-key"></i> Change Password</h4></div>
        </div>
    </div>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id="frm", name="frm"}))
    {
        @Html.ValidationSummary()
        
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md-2">Old Password :</div>
                <div class="col-md-5">@Html.Kendo().TextBoxFor(m => m.OldPassword).HtmlAttributes(new { type = "password" })</div>
            </div>

            <div class="form-group">
                <div class="col-md-2">NewPassword :</div>
                <div class="col-md-5">@Html.Kendo().TextBoxFor(m => m.NewPassword).HtmlAttributes(new { type = "password" })</div>
            </div>

            <div class="form-group">
                <div class="col-md-2">Confirm Password :</div>
                <div class="col-md-5">@Html.Kendo().TextBoxFor(m => m.ConfirmPassword).HtmlAttributes(new { type = "password" })</div>
            </div>


            <div class="form-group">
                <div class="col-md-2"></div>
                <div class="col-md-5"><button type="submit" id="btnSubmit" name="btnSubmit" class="k-button"><i class="fa fa-check"></i> Submit</button> </div>
            </div>

        </div>
    }
</div>

<script>
    $("#btnSubmit").click(function (e) {
        e.preventDefault();

        var validator = $("#frm").kendoValidator().data("kendoValidator");
        if (validator.validate()) {
            $("#frm").submit();
        }
    });
</script>