@model dynamic

<div class="container">    
    <div class="well well-lg text-center">
        <div class="alert alert-danger">
            Sorry, your requested page cannot be found.
            <br/><br/>
            <p>
                Click <a href="@Href("~/")">here</a> to return to the home page.
            </p>
        </div>        
    </div>
</div>