<ul class="nav navbar-nav navbar-right">
    <li>        
        <a href="@Url.Action("Index", "Home", new{ area=String.Empty})"><i class="fa fa-cart-plus"></i> Back to Front End</a>
    </li>
    <li>
        <a href="#">@User.Identity.Name</a>
    </li>
</ul>
